<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PushNotificationServiceTime" value="3000"/>
		<!-- Время для Push-уведомлений в миллисекундах -->
		<add key="EmailNotificationServiceTime" value="6000"/>
		<!-- Время для Email-уведомлений в миллисекундах -->
		<add key="PhoneNotificationServiceTime" value="9000"/>
		<!-- Время для Phone-уведомлений в миллисекундах -->
	</appSettings>
</configuration>